@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Gudea:400,400italic,700&subset=latin,latin-ext);
#csstyle .\+text-center {
  text-align: center; }

#csstyle .\+text-left {
  text-align: left; }

#csstyle .\+text-right {
  text-align: right; }

#csstyle .\+text-justify {
  text-align: justify; }

#csstyle .\+lowercase {
  text-transform: lowercase; }

#csstyle .\+uppercase {
  text-transform: uppercase; }

#csstyle .\+capitalize {
  text-transform: capitalize; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font: 18px/2 serif;
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  color: #364347; }

a {
  text-decoration: none;
  color: #364347; }

.alert {
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 15.48px;
  border-radius: 5px;
  margin-top: 10.799999999999999px;
  margin-bottom: 10.799999999999999px;
  color: white;
  background-color: #bdc3c7; }
  .alert.\--blue {
    background-color: #02baf2;
    color: white; }
  .alert.\--orange {
    background-color: #f58410;
    color: white; }
  .alert.\--red {
    background-color: #f84545;
    color: white; }
  .alert.\--pink {
    background-color: #d25280;
    color: white; }
  .alert.\--yellow {
    background-color: #fad46b;
    color: white; }
  .alert.\--purple {
    background-color: #a88cd5;
    color: white; }
  .alert.\--green {
    background-color: #3eb5ac;
    color: white; }
  .alert.\--grey {
    background-color: #bdc3c7;
    color: white; }

.badge {
  display: inline-block;
  text-align: center;
  padding: 0 7.2px;
  background: #bdc3c7;
  color: white;
  font-size: 10.799999999999999px;
  border-radius: 2px; }
  .badge.\--blue {
    background-color: #02baf2;
    color: white; }
  .badge.\--orange {
    background-color: #f58410;
    color: white; }
  .badge.\--red {
    background-color: #f84545;
    color: white; }
  .badge.\--pink {
    background-color: #d25280;
    color: white; }
  .badge.\--yellow {
    background-color: #fad46b;
    color: white; }
  .badge.\--purple {
    background-color: #a88cd5;
    color: white; }
  .badge.\--green {
    background-color: #3eb5ac;
    color: white; }
  .badge.\--grey {
    background-color: #bdc3c7;
    color: white; }
  .badge.\--number {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 18px;
    border-radius: 500px;
    font-size: 12px;
    line-height: 18px; }

.breadcrumb {
  display: block; }
  .breadcrumb li {
    float: left;
    color: #bdc3c7; }
    .breadcrumb li:after {
      content: "/";
      margin-right: 3.6px;
      margin-left: 3.6px; }
    .breadcrumb li a {
      color: #02baf2; }
  .breadcrumb li:last-child:after {
    content: ""; }

.button {
  display: inline-block;
  cursor: pointer;
  padding: 0 10.799999999999999px;
  padding-bottom: 2.16px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  background: #bdc3c7;
  color: white;
  -webkit-box-shadow: inset 0 -4px #a1aab0;
          box-shadow: inset 0 -4px #a1aab0;
  position: relative; }
  .button:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 1px; }
  .button.\--blue {
    background-color: #02baf2;
    color: white;
    -webkit-box-shadow: inset 0 -4px #0293bf;
            box-shadow: inset 0 -4px #0293bf; }
    .button.\--blue:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--orange {
    background-color: #f58410;
    color: white;
    -webkit-box-shadow: inset 0 -4px #ca6a08;
            box-shadow: inset 0 -4px #ca6a08; }
    .button.\--orange:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--red {
    background-color: #f84545;
    color: white;
    -webkit-box-shadow: inset 0 -4px #f61414;
            box-shadow: inset 0 -4px #f61414; }
    .button.\--red:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--pink {
    background-color: #d25280;
    color: white;
    -webkit-box-shadow: inset 0 -4px #bf3265;
            box-shadow: inset 0 -4px #bf3265; }
    .button.\--pink:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--yellow {
    background-color: #fad46b;
    color: white;
    -webkit-box-shadow: inset 0 -4px #f8c63a;
            box-shadow: inset 0 -4px #f8c63a; }
    .button.\--yellow:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--purple {
    background-color: #a88cd5;
    color: white;
    -webkit-box-shadow: inset 0 -4px #8c67c7;
            box-shadow: inset 0 -4px #8c67c7; }
    .button.\--purple:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--green {
    background-color: #3eb5ac;
    color: white;
    -webkit-box-shadow: inset 0 -4px #318f88;
            box-shadow: inset 0 -4px #318f88; }
    .button.\--green:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }
  .button.\--grey {
    background-color: #bdc3c7;
    color: white;
    -webkit-box-shadow: inset 0 -4px #a1aab0;
            box-shadow: inset 0 -4px #a1aab0; }
    .button.\--grey:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      top: 1px; }


/*# sourceMappingURL=sandbox.css.map*/