// ===========================================================
// Alignments
// ===========================================================
//
// Helper classes for alignment
//
+tweak(text-center)
  text-align: center

+tweak(text-left)
  text-align: left

+tweak(text-right)
  text-align: right

+tweak(text-justify)
  text-align: justify



// ===========================================================
// Text transform
// ===========================================================
//
// Helper classes for text transform
//

+tweak(lowercase)
  text-transform: lowercase

+tweak(uppercase)
  text-transform: uppercase

+tweak(capitalize)
  text-transform: capitalize
