// ===========================================================
// Variables.sass
// ===========================================================
//
// @see http://sass-lang.com/guide#topic-2
//
// In this file you can add some variables to use in the entire
// project.
//
// @example
//
// $color-grey: #ccc
//

// Colors palette
$colors-palette: (green: #4de3be, yellow: #FFE59E, purple: #801E45, red: #CF0F40, pink: #F1C5D6, white: white, grey: #ECF0F1, dark: #364347, pink-fluo: #D83F66, green-flat: #2cc36b, blue: #298fca)

// Fonts
$font-sizes-gudea: 400, 700
$font-sizes-montserrat: 400, 700
$font-sizes-lato: 300, 400, 700, 900
$font-sizes-amatic: 400, 700

// Default
$default-color: #364347
