+component(button)
  // Reset <button>, <a>, <submit> to be ready
  // to be styled.
  display: inline-block
  border: 0
  font: inherit
  display: inline-block
  cursor: pointer
  user-select: none
  position: relative
  
  +part(table)
    padding-left: 10px