+component(alert)
  width: 100%
  height: 3em

  +option(grey-light)
    background-color: lighten(#F5F5F5, 5%)

  +option(grey)
    background-color: #F5F5F5

  +option(grey-dark)
    background-color: darken(#F5F5F5, 5%)