+component(alert)
  width: 100%
  height: 3em

  +option(grey-light)
    background-color: color-light(grey)

  +option(grey)
    background-color: color(grey)

  +option(grey-dark)
    background-color: color-dark(grey)
