@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
.button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none !important;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #d6e1e5;
  color: #5e696d;
  border-color: #d6e1e5;
  font-size: 15px;
  padding: 6px 12px; }
  .button:hover, .button:focus, .button:active {
    outline: 0;
    background-color: #e1eef3;
    color: #5e696d;
    border-color: #e1eef3; }
  .button.\--xs {
    font-size: 12px;
    padding: 3.6px 7.2px; }
  .button.\--sm {
    font-size: 12px;
    padding: 4.8px 9.6px; }
  .button.\--md {
    font-size: 15px;
    padding: 6px 12px; }
  .button.\--lg {
    font-size: 18px;
    padding: 7.2px 14.4px; }
  .button.\--xl {
    font-size: 21px;
    padding: 9.6px 19.2px; }
  .button.\--block {
    width: 100%;
    display: inline-block; }
  .button.\--default {
    background-color: #d6e1e5;
    color: #5e696d;
    border-color: #d6e1e5; }
    .button.\--default:hover, .button.\--default:active, .button.\--default:focus {
      background-color: #e1eef3;
      color: #5e696d;
      border-color: #e1eef3; }
  .button.\--success {
    background-color: #3eb5ac;
    color: #fff;
    border-color: #3eb5ac; }
    .button.\--success:hover, .button.\--success:active, .button.\--success:focus {
      background-color: #45c8be;
      color: #fff;
      border-color: #45c8be; }
  .button.\--primary {
    background-color: #02baf2;
    color: #fff;
    border-color: #02baf2; }
    .button.\--primary:hover, .button.\--primary:active, .button.\--primary:focus {
      background-color: #0fc7ff;
      color: #fff;
      border-color: #0fc7ff; }
  .button.\--info {
    background-color: #a88cd5;
    color: #fff;
    border-color: #a88cd5; }
    .button.\--info:hover, .button.\--info:active, .button.\--info:focus {
      background-color: #b094de;
      color: #fff;
      border-color: #b094de; }
  .button.\--warning {
    background-color: #f58410;
    color: #fff;
    border-color: #f58410; }
    .button.\--warning:hover, .button.\--warning:active, .button.\--warning:focus {
      background-color: #ff9324;
      color: #fff;
      border-color: #ff9324; }
  .button.\--danger {
    background-color: #f84545;
    color: #fff;
    border-color: #f84545; }
    .button.\--danger:hover, .button.\--danger:active, .button.\--danger:focus {
      background-color: #ff5f5f;
      color: #fff;
      border-color: #ff5f5f; }
  .button.\--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65; }
  .button.\--icon i {
    padding-right: 3px; }

.spacer {
  height: 3em; }
  .spacer.\--xs {
    height: 0.5em; }
  .spacer.\--sm {
    height: 1.3em; }
  .spacer.\--lg {
    height: 6em; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.justify {
  text-align: justify; }

.header {
  background-color: #2980b9;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left; }
  .header__logo {
    color: white;
    font-size: 50px;
    font-family: "Londrina Solid", cursive;
    display: inline;
    margin-right: 10px; }
  .header__title {
    color: white;
    font-weight: 100;
    font-size: 23px;
    display: inline; }
  .header__stats {
    color: white;
    font-size: 18px;
    padding: 7.2px 14.4px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block; }

.title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #bdc3c7; }

.listing {
  border: 1px solid #e7e7e7;
  font-weight: 300;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 2em; }
  .listing td {
    overflow: hidden;
    word-break: break-all; }
  .listing tbody tr:nth-child(odd) {
    background-color: #f9fafc;
    border: 1px solid #e7e7e7; }
  .listing__heading th {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e7e7e7;
    background-color: white; }
  .listing__content td {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em; }
  .listing__content:nth-child(odd) {
    background-color: #fff; }

.flash {
  display: block;
  padding: 1em;
  font-weight: 700;
  color: grey;
  background: #f5f5f5;
  border-radius: 3px; }
  .flash i {
    display: inline-block;
    margin-top: 10px;
    font-size: 50px; }
  .flash.\--easygo-danger {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 300;
    padding: 5px; }

.order {
  border: 5px solid #f5f5f5;
  border-radius: 3px; }
  .order__header {
    background-color: #f5f5f5;
    height: 4em;
    position: relative; }
  .order__content {
    padding: 1em; }
    .order__content span {
      margin-right: 5px; }
    .order__content .well {
      border: 0px;
      box-shadow: none; }
  .order__image {
    width: 150px;
    top: -3em;
    left: -2em;
    position: absolute; }
  .order__title {
    text-align: center;
    color: grey;
    font-size: 24px;
    font-weight: 300;
    padding-top: 10px; }


/*# sourceMappingURL=easygo.css.map*/