@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Gudea:400,400italic,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic,900,900italic&subset=latin,latin-ext);
#csstyle .\+text-center {
  text-align: center !important; }

#csstyle .\+text-left {
  text-align: left; }

#csstyle .\+text-right {
  text-align: right; }

#csstyle .\+text-justify {
  text-align: justify; }

#csstyle .\+lowercase {
  text-transform: lowercase; }

#csstyle .\+uppercase {
  text-transform: uppercase; }

#csstyle .\+capitalize {
  text-transform: capitalize; }

#csstyle .\+spacer-extra-small {
  height: 13.600000000000001px;
  content: " "; }

#csstyle .\+spacer-small {
  height: 34px;
  content: " "; }

#csstyle .\+spacer {
  height: 68px;
  content: " "; }

#csstyle .\+spacer-large {
  height: 170px;
  content: " "; }

#csstyle .\+hidden {
  display: none !important; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font: 18px/2 serif;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #364347; }

body.background-grey {
  background-color: #F3F5F9; }

a {
  text-decoration: none;
  color: #364347; }

.sidebar__wrapper {
  background-color: #242d30;
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  -webkit-transition: width 0.4s;
          transition: width 0.4s; }
.sidebar__list {
  width: 270px;
  z-index: 2;
  position: absolute; }
.sidebar__brand {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: none; }
.sidebar__item {
  display: block; }
  .sidebar__item:hover {
    background-color: #191f21; }
  .sidebar__item.\--brand {
    padding-left: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    min-height: 36px; }
    .sidebar__item.\--brand:hover {
      background-color: #242d30; }
.sidebar__link {
  display: inline-block;
  padding-bottom: 7.92px;
  padding-top: 7.92px;
  width: 100%;
  height: 100%;
  color: #d9d9d9;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 18px;
  font-size: 16.2px; }
  .sidebar__link i {
    display: inline-block;
    min-width: 39.6px;
    text-align: center;
    padding-right: 18px; }

.page__wrapper {
  margin-left: 75px;
  margin-right: 15px; }

.title__section {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-top: 18px;
  font-size: 36px;
  display: inline-block; }
.title__subsection {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: inline-block;
  color: #415155; }

.button {
  display: inline-block;
  border: 0;
  font: inherit;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative; }
  .button__table {
    padding-left: 10px; }
  .button__section {
    margin-top: 39.6px;
    background-color: #2cc36b;
    font-size: 12.24px;
    text-align: center;
    padding: 7.2px;
    border-radius: 5px;
    background: color-grey(grey);
    color: white;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 -3px #28b262;
            box-shadow: inset 0 -3px #28b262;
    outline: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }
    .button__section i {
      padding-right: 3.6px; }
    .button__section:active {
      top: 1px;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .button__submit {
    background-color: #b1c2c6;
    font-size: 23.400000000000002px;
    padding: 10.799999999999999px;
    text-align: center;
    border-radius: 5px;
    background: color-grey(grey);
    color: white;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 -6px #9aafb4;
            box-shadow: inset 0 -6px #9aafb4;
    outline: 0;
    color: white;
    width: 40%;
    margin: 0 auto;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 18px; }
    .button__submit i {
      padding-right: 7.2px; }
    .button__submit:active {
      top: 1px;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .button__submit.\--small {
      font-size: 12.6px;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding: 7.2px;
      padding-right: 14.4px;
      padding-left: 14.4px;
      width: auto;
      margin: 0; }
  .button__link {
    color: #2580b5; }
  .button__default {
    background-color: #b1c2c6;
    font-size: 12.24px;
    text-align: center;
    padding: 7.2px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 -3px #9aafb4;
            box-shadow: inset 0 -3px #9aafb4;
    outline: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400; }
    .button__default:active {
      top: 1px;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .button__default.\--red {
      background: #CF0F40;
      -webkit-box-shadow: inset 0 -3px #9f0c31;
              box-shadow: inset 0 -3px #9f0c31; }
      .button__default.\--red:active {
        top: 1px;
        -webkit-box-shadow: none;
                box-shadow: none; }
  .button__connect {
    background-color: #b1c2c6;
    font-size: 12.24px;
    text-align: center;
    padding: 7.2px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 -3px #9aafb4;
            box-shadow: inset 0 -3px #9aafb4;
    outline: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    display: block; }
    .button__connect:active {
      top: 1px;
      -webkit-box-shadow: none;
              box-shadow: none; }

.navbar__wrapper {
  background-color: #ECF0F1;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10.799999999999999px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3895cb), to(#015e94));
  background: -webkit-linear-gradient(#3895cb, #015e94);
  background: linear-gradient(#3895cb, #015e94); }
.navbar__item {
  display: inline-block;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14.4px; }
  .navbar__item:hover {
    opacity: 0.7; }
.navbar__link {
  color: white;
  display: inline-block;
  padding-top: 7.2px;
  padding-bottom: 7.2px;
  padding-left: 14.4px;
  padding-right: 14.4px; }
  .navbar__link.\--logout {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14.4px; }
.navbar__logout {
  display: inline-block;
  float: right;
  padding-right: 10.799999999999999px; }

.divider__section {
  width: 100%;
  border-bottom: 2px solid #ECF0F1;
  margin-bottom: 21.599999999999998px; }

.form__label {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16.2px;
  padding-top: 7.2px; }
.form__input {
  border: 1px solid #dde4e6;
  border-radius: 5px;
  font-size: 14.4px;
  width: 100%;
  padding: 12.6px;
  outline: 0; }
  .form__input.\--small-textarea {
    height: 108px; }
.form__error {
  color: #D83F66;
  font-size: 16.2px;
  font-family: "Lato", sans-serif;
  font-weight: 700; }
.form__markdown {
  width: 100%;
  min-height: 252px; }

.typography h1,
.editor-preview h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 28.8px;
  padding-bottom: 14.4px;
  padding-top: 21.599999999999998px; }
.typography h2,
.editor-preview h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 21.599999999999998px;
  padding-bottom: 14.4px;
  padding-top: 21.599999999999998px; }
.typography h3,
.editor-preview h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 14.4px;
  padding-top: 21.599999999999998px; }
.typography p,
.editor-preview p {
  font-size: 18px;
  text-align: justify; }
.typography a,
.editor-preview a {
  border-bottom: 1px dotted #364347;
  padding-bottom: 3.6px; }
.typography em,
.editor-preview em {
  font-style: italic; }
.typography strong,
.editor-preview strong {
  font-weight: bold; }
.typography a,
.editor-preview a {
  color: #298fca;
  border-bottom: 1px dotted #298fca; }

.tablechild__title {
  font-size: 14.4px;
  font-weight: 700; }
.tablechild__link {
  border-bottom: 1px dotted #364347; }

.panel__wrapper {
  border: 2px solid #ECF0F1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }
.panel__header {
  background-color: #ECF0F1;
  padding: 7.2px;
  padding-left: 18px; }
.panel__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }
.panel__content {
  padding: 18px; }

.note__wrapper {
  background-color: #298fca;
  color: white;
  padding: 14.4px;
  border-radius: 5px;
  margin-bottom: 7.2px; }
.note__title {
  font-family: "Lato", sans-serif;
  font-weight: 700; }

.info__wrapper {
  background-color: #77939a;
  border-radius: 5px;
  color: white;
  padding: 10.799999999999999px;
  font-size: 14.4px;
  margin-top: 10.799999999999999px;
  margin-bottom: 10.799999999999999px; }
  .info__wrapper i {
    padding-right: 7.2px; }

.connect__wrapper {
  background-color: white;
  border-radius: 5px;
  padding: 18px;
  padding-top: 86.39999999999999px;
  margin-top: 180px;
  border: 1px solid #ebeff6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative; }
.connect__thumbnail-wrapper {
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  width: 100%; }
.connect__thumbnail {
  display: block;
  width: 150px;
  margin: 0 auto; }

.dashboard__wrapper {
  border-radius: 5px;
  background-color: #1baf8a;
  color: white;
  padding: 21.599999999999998px;
  text-align: center;
  min-height: 252px; }
  .dashboard__wrapper.\--grey {
    background-color: #77939a; }
.dashboard__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25.2px; }
.dashboard__button {
  border: 0;
  font: inherit;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  padding: 7.2px;
  padding-right: 72px;
  padding-left: 72px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 18px;
  display: inline-block;
  -webkit-transition: background-color 0.4s;
          transition: background-color 0.4s; }
  .dashboard__button:hover {
    background-color: white;
    color: #1baf8a; }
.dashboard__active {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 18px; }

.chosen-container.chosen-container-single {
  width: 100% !important; }

.chosen-container-single .chosen-single div b {
  background: url(chosen-sprite.png) no-repeat 3px 10px !important; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background: url(chosen-sprite.png) no-repeat -15px 10px !important; }

a.chosen-single {
  padding: 10.799999999999999px !important;
  font-size: 18px !important;
  height: auto !important;
  border: 1px solid #D6DBDF !important;
  border-radiu: 5px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.chosen-search input[type=text] {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #e994aa !important; }

select + .chosen-container.chosen-container-single .chosen-single {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none; }
  select + .chosen-container.chosen-container-single .chosen-single div {
    top: 4px;
    color: #000; }
select + .chosen-container .chosen-drop {
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin: 2px 0 0; }
select + .chosen-container .chosen-search input[type=text] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none; }
select + .chosen-container .chosen-results {
  margin: 2px 0 0;
  padding: 5px 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  margin-bottom: 5px; }
  select + .chosen-container .chosen-results li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
    background-image: none; }
    select + .chosen-container .chosen-results li.active-result {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857;
      color: #333;
      white-space: nowrap;
      background-image: none; }
    select + .chosen-container .chosen-results li:hover, select + .chosen-container .chosen-results li.active-result:hover, select + .chosen-container .chosen-results li.highlighted {
      color: #FFF;
      text-decoration: none;
      background-color: #dc5477 !important;
      background-image: none; }
select + .chosen-container-multi .chosen-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none; }
  select + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: auto;
    padding: 5px 0; }
  select + .chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC; }
    select + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      top: 8px;
      right: 6px; }
select + .chosen-container-multi.chosen-container-active .chosen-choices {
  border-color: #66AFE9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
select + .chosen-container.chosen-container-single.chosen-container-active .chosen-single, select + .chosen-container .chosen-search input[type=text]:focus {
  border-color: #66AFE9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
select + .chosen-container-multi .chosen-results li.result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
  background-color: white; }

table.dataTable {
  text-align: left !important;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-weight: 300 !important;
  font-size: 14.4px; }
  table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1; }
  table.dataTable tbody th {
    font-size: 14.4px; }
  table.dataTable tbody tr:nth-child(odd) {
    background-color: #ECF0F1; }
  table.dataTable thead {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
    table.dataTable thead td {
      border: 0px !important; }
    table.dataTable thead th {
      border: 0px !important;
      font-weight: 300 !important; }
    table.dataTable thead tr {
      background: -webkit-gradient(linear, left top, left bottom, from(#3895cb), to(#015e94));
      background: -webkit-linear-gradient(#3895cb, #015e94);
      background: linear-gradient(#3895cb, #015e94);
      color: white; }

.dataTables_length {
  display: none; }

.dataTables_filter {
  width: 100%; }
  .dataTables_filter label {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10.799999999999999px;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#364347), to(#20282a));
    background: -webkit-linear-gradient(#364347, #20282a);
    background: linear-gradient(#364347, #20282a);
    text-align: left;
    display: inline-block;
    width: 100%;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14.4px; }
  .dataTables_filter input[type="search"] {
    outline: 0;
    border: 1px solid #d5d5d5;
    padding: 5px;
    font-weight: 300;
    width: 20%;
    border-radius: 5px; }

.dataTables_wrapper .dataTables_info {
  font-size: 14px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  font-size: 14px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #cacaca;
  background-color: #fff;
  background: none;
  font-size: 14px;
  padding: 5px; }

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  font-size: 12px !important;
  border: 1px solid #c4c4c4 !important;
  padding: 5px 10px !important;
  background: none !important;
  color: #565a5c !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #edefed !important;
  color: #565a5c !important; }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  margin-top: 1em; }

.dataTables_processing {
  height: 3em !important;
  padding-top: 15px !important;
  margin-top: 0 !important; }

.labelauty-choose-frequency {
  text-align: center; }
  .labelauty-choose-frequency span.labelauty-title {
    font-size: 25.2px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    padding-top: 28.8px;
    padding-bottom: 10.799999999999999px;
    line-height: 36px; }
  .labelauty-choose-frequency span.labelauty-description {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    display: block;
    padding-bottom: 28.8px; }
  .labelauty-choose-frequency span.labelauty-distance {
    font-size: 19.8px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-bottom: 36px;
    display: block;
    text-transform: uppercase; }
  .labelauty-choose-frequency .labelauty-icon {
    padding-right: 10.799999999999999px; }
  .labelauty-choose-frequency input.labelauty {
    display: none !important; }
    .labelauty-choose-frequency input.labelauty + label {
      width: 100%;
      display: table;
      font-size: 11px;
      padding: 10px;
      background-color: #cdcdcd;
      color: white;
      cursor: pointer;
      border-radius: 3px 3px 3px 3px;
      -webkit-transition: background-color 0.25s;
              transition: background-color 0.25s;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .labelauty-choose-frequency input.labelauty + label ::-moz-selection, .labelauty-choose-frequency input.labelauty + label ::-moz-selection {
        background-color: rgba(255, 255, 255, 0); }
      .labelauty-choose-frequency input.labelauty + label ::selection, .labelauty-choose-frequency input.labelauty + label ::-moz-selection {
        background-color: rgba(255, 255, 255, 0); }
      .labelauty-choose-frequency input.labelauty + label > span.labelauty-unchecked, .labelauty-choose-frequency input.labelauty + label > span.labelauty-checked {
        display: inline-block;
        line-height: 16px;
        vertical-align: bottom; }
      .labelauty-choose-frequency input.labelauty + label > span.labelauty-unchecked-image, .labelauty-choose-frequency input.labelauty + label > span.labelauty-checked-image {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-position: left center;
        transition: background-image 0.5s linear;
        -moz-transition: background-image 0.5s linear;
        -webkit-transition: background-image 0.5s linear;
        -o-transition: background-image 0.5s linear; }
      .labelauty-choose-frequency input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked, .labelauty-choose-frequency input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {
        color: inherit; }
    .labelauty-choose-frequency input.labelauty:not(:checked):not([disabled]) + label:hover {
      background-color: #FFC414;
      color: white; }
    .labelauty-choose-frequency input.labelauty:not(:checked) + label > span.labelauty-checked-image, .labelauty-choose-frequency input.labelauty:not(:checked) + label > span.labelauty-checked {
      display: none; }
    .labelauty-choose-frequency input.labelauty:checked + label {
      background-color: #FFC414;
      color: #ffffff; }
    .labelauty-choose-frequency input.labelauty:checked:not([disabled]) + label:hover {
      background-color: #ffd147; }
    .labelauty-choose-frequency input.labelauty:checked + label > span.labelauty-unchecked-image, .labelauty-choose-frequency input.labelauty:checked + label > span.labelauty-unchecked {
      display: none; }
    .labelauty-choose-frequency input.labelauty:checked + label > span.labelauty-checked {
      display: inline-block; }
    .labelauty-choose-frequency input.labelauty.no-label:checked + label > span.labelauty-checked {
      display: block; }
    .labelauty-choose-frequency input.labelauty[disabled] + label {
      opacity: 0.5; }
    .labelauty-choose-frequency input.labelauty + label > span.labelauty-unchecked-image {
      background-image: none; }
    .labelauty-choose-frequency input.labelauty + label > span.labelauty-checked-image {
      background-image: none; }

.labelauty-choose-frequency-focus-big {
  text-align: center; }
  .labelauty-choose-frequency-focus-big span.labelauty-title {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    padding-top: 28.8px;
    padding-bottom: 10.799999999999999px;
    line-height: 36px; }
  .labelauty-choose-frequency-focus-big span.labelauty-description {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    display: block;
    padding-bottom: 36px; }
  .labelauty-choose-frequency-focus-big .labelauty-icon {
    padding-right: 10.799999999999999px; }
  .labelauty-choose-frequency-focus-big input.labelauty {
    display: none !important; }
    .labelauty-choose-frequency-focus-big input.labelauty + label {
      width: 100%;
      display: table;
      font-size: 11px;
      padding: 10px;
      background-color: #637f86;
      color: white;
      cursor: pointer;
      border-radius: 3px 3px 3px 3px;
      -webkit-transition: background-color 0.25s;
              transition: background-color 0.25s;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .labelauty-choose-frequency-focus-big input.labelauty + label ::-moz-selection, .labelauty-choose-frequency-focus-big input.labelauty + label ::-moz-selection {
        background-color: rgba(255, 255, 255, 0); }
      .labelauty-choose-frequency-focus-big input.labelauty + label ::selection, .labelauty-choose-frequency-focus-big input.labelauty + label ::-moz-selection {
        background-color: rgba(255, 255, 255, 0); }
      .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-unchecked, .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-checked {
        display: inline-block;
        line-height: 16px;
        vertical-align: bottom; }
      .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-unchecked-image, .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-checked-image {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-position: left center;
        transition: background-image 0.5s linear;
        -moz-transition: background-image 0.5s linear;
        -webkit-transition: background-image 0.5s linear;
        -o-transition: background-image 0.5s linear; }
      .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked, .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {
        color: inherit; }
    .labelauty-choose-frequency-focus-big input.labelauty:not(:checked):not([disabled]) + label:hover {
      background-color: #FFC414;
      color: white; }
    .labelauty-choose-frequency-focus-big input.labelauty:not(:checked) + label > span.labelauty-checked-image, .labelauty-choose-frequency-focus-big input.labelauty:not(:checked) + label > span.labelauty-checked {
      display: none; }
    .labelauty-choose-frequency-focus-big input.labelauty:checked + label {
      background-color: #FFC414;
      color: #ffffff; }
    .labelauty-choose-frequency-focus-big input.labelauty:checked:not([disabled]) + label:hover {
      background-color: #ffd147; }
    .labelauty-choose-frequency-focus-big input.labelauty:checked + label > span.labelauty-unchecked-image, .labelauty-choose-frequency-focus-big input.labelauty:checked + label > span.labelauty-unchecked {
      display: none; }
    .labelauty-choose-frequency-focus-big input.labelauty:checked + label > span.labelauty-checked {
      display: inline-block; }
    .labelauty-choose-frequency-focus-big input.labelauty.no-label:checked + label > span.labelauty-checked {
      display: block; }
    .labelauty-choose-frequency-focus-big input.labelauty[disabled] + label {
      opacity: 0.5; }
    .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-unchecked-image {
      background-image: none; }
    .labelauty-choose-frequency-focus-big input.labelauty + label > span.labelauty-checked-image {
      background-image: none; }

.labelauty-default input.labelauty {
  display: none !important; }
  .labelauty-default input.labelauty + label {
    display: block;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
    margin: 0;
    background-color: #efefef;
    color: #b3b3b3;
    cursor: pointer;
    padding: 7.2px;
    padding-left: 25.2px;
    -webkit-transition: background-color 0.25s;
            transition: background-color 0.25s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .labelauty-default input.labelauty + label ::-moz-selection, .labelauty-default input.labelauty + label ::-moz-selection {
      background-color: rgba(255, 255, 255, 0); }
    .labelauty-default input.labelauty + label ::selection, .labelauty-default input.labelauty + label ::-moz-selection {
      background-color: rgba(255, 255, 255, 0); }
    .labelauty-default input.labelauty + label > span.labelauty-unchecked, .labelauty-default input.labelauty + label > span.labelauty-checked {
      display: inline-block; }
    .labelauty-default input.labelauty + label > span.labelauty-unchecked-image, .labelauty-default input.labelauty + label > span.labelauty-checked-image {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: left center;
      transition: background-image 0.5s linear;
      -moz-transition: background-image 0.5s linear;
      -webkit-transition: background-image 0.5s linear;
      -o-transition: background-image 0.5s linear; }
    .labelauty-default input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked, .labelauty-default input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {
      margin-left: 7px; }
  .labelauty-default input.labelauty:not(:checked):not([disabled]) + label:hover {
    background-color: #ffd147;
    color: white; }
  .labelauty-default input.labelauty:not(:checked) + label > span.labelauty-checked-image, .labelauty-default input.labelauty:not(:checked) + label > span.labelauty-checked {
    display: none; }
  .labelauty-default input.labelauty:checked + label {
    background-color: #FFC414;
    color: #ffffff; }
  .labelauty-default input.labelauty:checked:not([disabled]) + label:hover {
    background-color: #FFC414; }
  .labelauty-default input.labelauty:checked + label > span.labelauty-unchecked-image, .labelauty-default input.labelauty:checked + label > span.labelauty-unchecked {
    display: none; }
  .labelauty-default input.labelauty:checked + label > span.labelauty-checked {
    display: inline-block; }
  .labelauty-default input.labelauty.no-label:checked + label > span.labelauty-checked {
    display: block; }
  .labelauty-default input.labelauty[disabled] + label {
    opacity: 0.5; }
  .labelauty-default input.labelauty + label > span.labelauty-unchecked-image {
    background-image: url(images/input-unchecked.png); }
  .labelauty-default input.labelauty + label > span.labelauty-checked-image {
    background-image: url(images/input-checked.png); }

.labelauty-no-label .labelauty-checked {
  display: none !important; }
.labelauty-no-label .labelauty-unchecked {
  display: none !important; }
.labelauty-no-label input.labelauty {
  display: none !important; }
  .labelauty-no-label input.labelauty + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
    margin: 0;
    background-color: #efefef;
    color: #b3b3b3;
    cursor: pointer;
    -webkit-transition: background-color 0.25s;
            transition: background-color 0.25s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 3.6px;
    padding: 0; }
    .labelauty-no-label input.labelauty + label ::-moz-selection, .labelauty-no-label input.labelauty + label ::-moz-selection {
      background-color: rgba(255, 255, 255, 0); }
    .labelauty-no-label input.labelauty + label ::selection, .labelauty-no-label input.labelauty + label ::-moz-selection {
      background-color: rgba(255, 255, 255, 0); }
    .labelauty-no-label input.labelauty + label > span.labelauty-unchecked, .labelauty-no-label input.labelauty + label > span.labelauty-checked {
      display: inline-block; }
    .labelauty-no-label input.labelauty + label > span.labelauty-unchecked-image, .labelauty-no-label input.labelauty + label > span.labelauty-checked-image {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: left center;
      transition: background-image 0.5s linear;
      -moz-transition: background-image 0.5s linear;
      -webkit-transition: background-image 0.5s linear;
      -o-transition: background-image 0.5s linear; }
    .labelauty-no-label input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked, .labelauty-no-label input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {
      margin-left: 7px; }
  .labelauty-no-label input.labelauty:not(:checked):not([disabled]) + label:hover {
    background-color: #ffd147;
    color: white; }
  .labelauty-no-label input.labelauty:not(:checked) + label > span.labelauty-checked-image, .labelauty-no-label input.labelauty:not(:checked) + label > span.labelauty-checked {
    display: none; }
  .labelauty-no-label input.labelauty:checked + label {
    background-color: #FFC414;
    color: #ffffff; }
  .labelauty-no-label input.labelauty:checked:not([disabled]) + label:hover {
    background-color: #FFC414; }
  .labelauty-no-label input.labelauty:checked + label > span.labelauty-unchecked-image, .labelauty-no-label input.labelauty:checked + label > span.labelauty-unchecked {
    display: none; }
  .labelauty-no-label input.labelauty:checked + label > span.labelauty-checked {
    display: inline-block; }
  .labelauty-no-label input.labelauty.no-label:checked + label > span.labelauty-checked {
    display: block; }
  .labelauty-no-label input.labelauty[disabled] + label {
    opacity: 0.5; }
  .labelauty-no-label input.labelauty + label > span.labelauty-unchecked-image {
    background-image: none;
    margin-left: 7px;
    margin-top: 6px;
    display: block; }
  .labelauty-no-label input.labelauty + label > span.labelauty-checked-image {
    background-image: url(images/input-checked.png);
    margin-left: 7px;
    margin-top: 6px;
    display: block; }

.labelauty-default-small input.labelauty {
  display: none !important; }
  .labelauty-default-small input.labelauty + label {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    vertical-align: middle;
    margin: 0;
    background-color: #efefef;
    color: #b3b3b3;
    cursor: pointer;
    -webkit-transition: background-color 0.25s;
            transition: background-color 0.25s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    border-radius: 5px;
    padding-left: 10.799999999999999px;
    padding-right: 10.799999999999999px;
    margin-bottom: 10.799999999999999px; }
    .labelauty-default-small input.labelauty + label ::-moz-selection, .labelauty-default-small input.labelauty + label ::-moz-selection {
      background-color: rgba(255, 255, 255, 0); }
    .labelauty-default-small input.labelauty + label ::selection, .labelauty-default-small input.labelauty + label ::-moz-selection {
      background-color: rgba(255, 255, 255, 0); }
    .labelauty-default-small input.labelauty + label > span.labelauty-unchecked, .labelauty-default-small input.labelauty + label > span.labelauty-checked {
      display: inline-block; }
    .labelauty-default-small input.labelauty + label > span.labelauty-unchecked-image, .labelauty-default-small input.labelauty + label > span.labelauty-checked-image {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left center;
      transition: background-image 0.5s linear;
      -moz-transition: background-image 0.5s linear;
      -webkit-transition: background-image 0.5s linear;
      -o-transition: background-image 0.5s linear; }
  .labelauty-default-small input.labelauty:not(:checked):not([disabled]) + label:hover {
    background-color: #ffd147;
    color: white; }
  .labelauty-default-small input.labelauty:not(:checked) + label > span.labelauty-checked-image, .labelauty-default-small input.labelauty:not(:checked) + label > span.labelauty-checked {
    display: none; }
  .labelauty-default-small input.labelauty:checked + label {
    background-color: #FFC414;
    color: #ffffff; }
  .labelauty-default-small input.labelauty:checked:not([disabled]) + label:hover {
    background-color: #FFC414; }
  .labelauty-default-small input.labelauty:checked + label > span.labelauty-unchecked-image, .labelauty-default-small input.labelauty:checked + label > span.labelauty-unchecked {
    display: none; }
  .labelauty-default-small input.labelauty:checked + label > span.labelauty-checked {
    display: inline-block; }
  .labelauty-default-small input.labelauty.no-label:checked + label > span.labelauty-checked {
    display: block; }
  .labelauty-default-small input.labelauty[disabled] + label {
    opacity: 0.5; }
  .labelauty-default-small input.labelauty + label > span.labelauty-unchecked-image {
    background-image: none; }
  .labelauty-default-small input.labelauty + label > span.labelauty-checked-image {
    background-image: none; }


/*# sourceMappingURL=masterbox-admin.css.map*/