+component(header)
  
  +breakpoint(xs)
    display: none
    
  +part(item)
    width: 20%
    height: 0.25vr
    float: left

    +option(first)
      background-color: color-get(green)

    +option(second)
      background-color: color-get(yellow)

    +option(third)
      background-color: color-get(purple)

    +option(fourth)
      background-color: color-get(red)

    +option(fifth)
      background-color: color-get(pink)
