+component(hero)
  
  +part(decorate)
    background: rgba(0,0,0,0.45)
    padding-top: 0.5vr
    padding-bottom: 0.5vr

  +part(container)
    margin:
      bottom: 1vr
    width: 100%
    position: relative
    background-size: cover
    background-position: center 80%
    background-color: color-get(dark)

  +part(overlay)
    position: absolute
    height: 100%
    width: 100%
    background-color: black
    opacity: 0.14

  +part(content)
    position: relative
    text-align: center
    color: white
    padding-top: 0.2vr

    h1
      +font-amatic
      font-size: 1.3vr
      text-transform: uppercase
      margin-top: 3vr
      padding-right: 0.5vr

    h3
      font-size: 0.6vr
      margin-top: 0.4vr
      font-weight: 700
      +font-lato


  +part(logo)
    padding-top: 2.4vr