+component(hero)
  
  +part(container)
    margin:
      top: 1vr
      bottom: 1vr
    width: 100%
    position: relative
    height: 8vr
    background-size: cover
    background-position: center 80%

  +part(overlay)
    position: absolute
    height: 100%
    width: 100%
    background-color: black
    opacity: 0.14

  +part(content)
    position: relative
    text-align: center
    color: white
    padding-top: 1.4vr

    h1
      +font-montserrat
      font-size: 1.5vr
      text-transform: uppercase