+component(illustration)
  
  +part(title)
    margin-top: 0.5vr
    +font-amatic(700)
    font-size: 1.5vr
    text-align: center
  
  +part(image-container)
    width: 100%
    display: block
    border: 0.5vr solid #fff
    box-shadow: 1px 1px 6px 2px #e6e6e6
    margin-bottom: 0.7vr

  +part(image)
    display: block
    max-width: 100%
    height: auto
    margin: 0 auto

  +part(description)
    +font-lato(300)
    margin-bottom: 1vr

  +part(name)
    margin-top: 0.5vr
    +font-amatic(700)
    font-size: 1.5vr
    text-align: center