+component(navbar)
  
  +part(background)
    background-size: cover
    background-position: center center
    position: relative

  +part(background-overlay)
    position: absolute
    background-color: black
    opacity: 0.4
    width: 100%
    height: 30%
    top: 1.04vr

  +breakpoint(xs)
    display: none
    
  +part(list)
    position: relative
    text-align: center

    +option(home)
      text-align: right

      .navbar__item
        font-size: 0.42vr

        a
          color: white
          +font-montserrat
          font-size: 0.45vr

  +part(item)
    position: relative
    display: inline-block
    margin-right: 0.5vr
    font-size: 0.55vr

    a
      color: color-dark(grey, 15%)


