+component(section)
  
  +part(title)
    text-align: center
    padding-top: 3vr
    +font-montserrat
    font-size: 1.2vr
    color: color-get(dark)

  +part(description)
    text-align: center
    font-size: 0.6vr