+component(section)
  
  +part(title)
    text-align: center
    padding-top: 3vr
    +font-amatic(700)
    font-size: 1.8vr
    color: color-get(dark)
    
    +option(choose-frequency)
      padding-top: 1vr

    +option(page)
      color: white 
      padding-top: 0

  +part(wrapper)
    background-color: color-get(purple)
    margin-top: 1vr


  +part(description)
    text-align: center
    font-size: 0.6vr

    +option(choose-frequency)
      font-size: 0.55vr