+component(sidebar)
  
  +part(list)
    border-radius: 5px
    margin-top: 1vr

  +part(link)
    width: 100%
    height: 100%
    display: block
    padding-left: 0.4vr
    +font-lato(700)
    font-size: 0.45vr
    background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%)
    border: 1px solid #e2e4e6
    border-bottom-color: #cdd2d4
    padding: 0
    padding-top: 0.1vr
    padding-bottom: 0.1vr
    padding-left: 0.2vr
    border-radius: 3px
    margin-bottom: 0.3vr

    &:hover
      color: white
      background: #298fca
      border-color: #298fca #298fca #026aa7
      
      i
        color: white

    +option(active)
      color: white
      background: color-get(blue)
      border-color: #298fca #298fca #026aa7

      i
        color: white

  +part(icon)
    font-size: 0.4vr
    color: #999
    padding-left: 0.1vr
    display: inline-block
    width: 18%
    text-align: center

