+component(step)
  
  +part(title)
    padding-top: 1vr
    text-align: center
    +font-rancho
    font-size: 1.3vr
    color: color-get(dark)

  +part(description)
    text-align: center
    width: 90%
    margin: 0 auto
    display: block
  
  +part(picture-container)
    min-height: 10vr

  +part(picture)
    max-width: 100%
    display: block
    padding-bottom: 0.4vr

    +option(step1)
      max-width: 70%
      margin: 0 auto

    +option(step2)
      max-width: 70%
      margin: 0 auto
      padding-top: 1.6vr

    +option(step3)
      max-width: 70%
      margin: 0 auto
      padding-top: 1.4vr
