<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="log"/>
        <env name="BASE_URL" value="http://www.bordeauxinbox.dev"/>
        <env name="STRIPE_API_KEY" value="sk_test_3t1faNpmJVWM1ZWehtPZbLFn"/>
        <env name="MAILTRAP_API_TOKEN" value="95ec270559d5924fa290b9c317ffe8a9" />
        <env name="MAILTRAP_API_BASE_URI" value="https://mailtrap.io/api/v1/" />
        <env name="MAILTRAP_API_INBOX" value="77922" />
    </php>
</phpunit>
