// ===========================================================
// Typography
// ===========================================================
// 
// Set the default typography for the project.
//

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

// We use the concept of vertical-rythm
// @see https://github.com/markgoodyear/postcss-vertical-rhythm/
body
  font: 16px/2 serif

